/* IMPORT FONTS */
@font-face {
    font-family: arialNova;
    src: url("../fonts/arial_nova.woff") format('woff');
}

body {
    font-family: arialNova;
}

.container {
    margin: 100px auto 100px auto;
    background: rgba(221, 63, 63, .2);
}

h1, h2 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

